*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #ffae00;
}
section{
    margin-top: 50px;
}

body{
    position: relative;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
#nav{
    background: none !important;
    box-shadow: none;
}
.nav-wrapper{
    z-index: 1;

}